<p class="player-message"></p>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Players</div>
  <!-- Table -->
  <table class="all-teams table">
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Hits</th>
      <th>Bats</th>
    </tr>
    {{#each players as |player|}}
    <tr data-id="{{player.id}}">
      <td class="player-name">{{player.name}}</td>
      <td class="player-position">{{player.position}}</td>
      <td class="player-hits">{{player.hits}}</td>
      <td class="player-bats">{{player.bats}}</td>
      <!-- <td><button type="button" data-id="{{data}}" class="delete-player btn btn-danger">delete</button></td>
      <!-- <td>{{>delete-player data=player.id}}</td> -->
      <!-- <td>{{>update-player data=player.id}}</td> -->
    </tr>
    {{/each}}
  </table>
</div>
  <div class="create-player-div">{{>create-player}}</div>
